<h1><%= @book.title %></h1>
<p><strong>Author:</strong> <%= @book.author %></p>
<p><strong>ISBN:</strong> <%= @book.isbn %></p>
<p><strong>Status:</strong> <%= @book.available? ? 'Available' : 'Borrowed' %></p>
<% if @book.available? %>
  <%= button_to 'Borrow', borrow_book_path(@book), method: :post %>
<% end %>

